/* Universal Styles */

* {
    box-sizing: border-box;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

main {
    position: relative;
    top: 4.75rem;
}

/* Header */

header {
    position: fixed;
    top: 0;
    z-index: 100;
    border-bottom: solid 1px black;
    width: 100%;
    padding: 1rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

nav li {
    padding-left: 3.5rem;
}

/* Main Content */

/* Intro */

#intro {
    display: flex;
    justify-content: center;
}