/* Universal Styles */

* {
    box-sizing: border-box;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 1.4rem;
    font-weight: 700;
}

main {
    position: relative;
    top: 4.75rem;
}

/* Header */

header {
    position: fixed;
    top: 0;
    z-index: 100;
    border-bottom: solid 1px black;
    width: 100%;
    padding: 1rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

nav li {
    padding-left: 3.5rem;
}

/* Main Content */

/* Intro */

#intro {
    display: flex;
    justify-content: center;
}

.description {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
}

.description h2 {
    margin-bottom: 1rem;
}

.description button {
    margin-top: 0.3rem;
    width: 6rem;
    font-size: 0.9rem;
}

#intro img {
    width: 30rem;
}